@import url('./reset.css');
@import url('./header.css');
@import url('./footer.css');
/* 변수 등록 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
  --sectionBg-Grad-lin: linear-gradient(rgba(14, 14, 14, 0), rgba(0, 0, 0, 0.6) 62%, rgba(0, 0, 0, 0.97));
  --headerBg-Grad-lin: linear-gradient(rgba(14, 14, 14, 0.66), rgba(0, 0, 0, 0.86) 57%, rgba(0, 0, 0, 0.97) 89%);

  /*
  font: [font-style] [font-variant] [font-weight] [font-size]/[line-height] [font-family];
  light300   regular400   medium500   semiBold600   bold700 
  */
  /* font */
  --title: 600 32px/32px "Noto Sans KR", sans-serif;
  --sub_title: 400 14px/14px "Noto Sans KR", sans-serif;
  --content_body: 300 16px/24px "Noto Sans KR", sans-serif;
  --btn_text: 400 16px/20px "Noto Sans KR", sans-serif;
  --moive_b_number: 500 100px/100px "Noto Sans", sans-serif;
  --moive_m_number: 400 54px/54px "Noto Sans", sans-serif;
  --keyword_text: 500 16px/auto "Noto Sans", sans-serif;


  --gnb: 400 16px/24px "Noto Sans KR", sans-serif;
  --lnb: 400 16px/48px "Noto Sans KR", sans-serif;
  --link_text: 300 16px/auto "Noto Sans KR", sans-serif;
  --fmenu_text: 400 20px/20px "Noto Sans KR", sans-serif;
  --flink_text: 300 14px/24px "Noto Sans KR", sans-serif;
  --fbody_text: 300 16px/24px "Noto Sans KR", sans-serif;

  --hint-text: 400 14px/16px "Noto Sans KR", sans-serif;
  --rating_number: 700 12px/12px "Noto Sans", sans-serif;

  /* icon_size */
  --icon_s_w: 24px;
  --icon_s_h: 24px;
  --icon_m_w: 48px;
  --icon_m_h: 48px;

  /* color */
  --white: #fff;
  --black: #000;
  --light_white: #D9D9D9;

  --primary_color: #ED3124;
  --fill_hover_color: #C32A20;
  --fill_active_color: #A1221B;
  --fill_disable_color: #F1A6A0;

  --empty_hover_color: rgba(0, 0, 0, 0.4);
  --card_cover_color: rgba(0, 0, 0, 0.6);
  --hint_bg_color: rgba(0, 0, 0, 0.8);

  --disable_color: #666666;
  --img_cover_color: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.80));

  /* 영화 연령 아이콘 색상 */
  --ratingAll: #00B140;
  --rating12: #ffD200;
  --rating15: #F68B1F;
  --rating19: #C60C30;

  /* border_style */
  --fill_btn_border: 1px solid #ED3124;
  --empty_btn_border: 1px solid rgba(217, 217, 217, 0.2);

  /* border-radius */
  --max_radius: 999px;
  --m_radius: 24px;
  --s_radius: 12px;
  --input_radius: 8px;
  --icon_radius: 4px;

  /* padding */
  --web_btn_padding: 14px 50px;
  --wen_keyword_padding: 10px 20px;
  --input_padding: 10px;

  /* shadow */
  --web_btn_shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  --web_card_shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
  --web_strong_shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);

}

.gradient-bg {
  background: linear-gradient(135deg, rgba(26, 74, 74, 0.5), rgba(26, 74, 74, 0.3) 10%, rgba(0, 0, 0, 1), rgba(77, 0, 0, 0.3) 90%, rgba(77, 0, 0, 0.5));
  width: 100%;
  height: 100vh;
}

/* footer 개인정보 처리 방침 모달 */
#policy_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;

}

#policy_modal>div {
  position: relative;
  width: 80%;
  height: 80%;
  margin: 5% auto;
  background: white;
  padding: 1px;
  overflow: hidden;
  border-radius: 10px;
}

#policy_closeModal {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 40px;
  height: 30px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid var(--empty_btn_border);
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
}

#policy_closeModal:hover {
  background: rgba(0, 0, 0, .7);
}

#policy_closeModal:active {
  background: rgba(0, 0, 0, 0.9) !important;
}

#policy_modalIframe {
  padding: 30px;
}

/* common style */


/* common style */


/* 영화 제목 */
.title {
  display: inline-block;
  font: var(--title);
  color: var(--white);
  margin-bottom: 10px;
  position: relative;
}

/*영화 부제목*/
.subtitle {
  font: var(--sub_title);
  color: var(--white);
  margin-bottom: 24px;
}

/* 콘텐츠 내용 */
.content_body {
  font: var(--content_body);
  color: var(--white);
}

/* 영화 제목의 가상요쇼 */
.rating::after {
  width: var(--icon_s_w);
  height: var(--icon_s_h);
  display: block;
  position: absolute;
  left: calc(100% + 5px);
  bottom: 0;
  color: var(--white);
  font: var(--rating_number);
  border-radius: var(--icon_radius);
  text-align: center;
  padding-top: 5px;
}

/* 영화 연령 style */
.rating19::after {
  content: '19';
  background-color: var(--rating19);
}

.rating15::after {
  content: '15';
  background-color: var(--rating15);
}

.rating12::after {
  content: '12';
  background-color: var(--rating12);
}

.ratingall::after {
  content: 'All';
  background-color: var(--ratingAll);
}


/* 버튼 박스 */
.btn_box {
  display: flex;
  gap: 16px;
}

/* 버튼 박스 하위요소의 a태그 */
.btn_box a {
  display: block;
}

/* 내부가 비어있는 btn style */
.empty_btn {
  background-color: transparent;
  padding: var(--web_btn_padding);
  color: var(--white);
  font: var(--btn_text);
  border: var(--empty_btn_border);
  border-radius: var(--max_radius);
  backdrop-filter: blur(20px);
  /* 이거 왜..? */
  height: 51px;
  box-shadow: var(--web_btn_shadow);
  transition: 0.6s;
}

.empty_btn:hover {
  background: var(--empty_hover_color);
}

/*call to action btn style*/
.cta_btn {
  background-color: var(--primary_color);
  padding: var(--web_btn_padding);
  color: var(--white);
  font: var(--btn_text);
  border: var(--empty_btn_border);
  border-radius: var(--max_radius);
  backdrop-filter: blur(20px);
  box-shadow: var(--web_btn_shadow);
  transition: 0.6s;

}

.cta_btn:hover {
  background: var(--fill_hover_color);
}

.cta_btn:active {
  background: var(--fill_active_color);
}





/* 태블릿 이하 (1024px 이하) */
@media screen and (max-width: 1024px) {}

/* 모바일 (768px 이하) */
@media screen and (max-width: 768px) {}

/* 아주 작은 화면 (480px 이하) */
@media screen and (max-width: 480px) {
  :root {
    --title: 600 26px/32px "Noto Sans KR", sans-serif;
  }
}