/* footer */

/* main.html에서만 사용하는 class */

footer {
    padding: 48px 60px;
    height: 364px;
    background-color: var(--black);
}

footer nav {
    margin-bottom: 48px;
}

footer .footer_menu {
    display: flex;
    justify-content: center;
    gap: 64px;
}

footer .footer_menu a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

footer .footer_menu a svg {
    width: var(--icon_m_w);
    height: var(--icon_m_h);
    transition: 0.4s;
}

footer .footer_menu a span {
    color: var(--white);
    font: var(--fmenu_text);
    transition: 0.4s;
}

footer .footer_menu li a:hover svg {
    fill: var(--primary_color);
}

footer .footer_link {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 16px;
}

footer .footer_link::after {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% + 8px);
    background-color: rgba(238, 238, 238, 0.2);
}

footer .footer_link a {
    color: var(--white);
    font: var(--flink_text);
}

footer strong {
    font-weight: bold;
    text-decoration: underline;
}

footer .footer_text address,
footer .footer_text span,
footer .copyright,
.accordion_btn {
    font: var(--fbody_text);
    color: var(--white);
}

/* 반응형 - 모바일 버전에서만 등장 */
.accordion_btn {
    display: none;
}

.mail {
    color: blue;
}

@media screen and (max-width: 768px) {
    footer nav {
        margin-bottom: 36px;
    }

    footer .footer_menu {
        justify-content: space-between;
        gap: 0;
    }

    footer .footer_menu a svg {
        width: var(--icon_s_w);
        height: var(--icon_s_h);
    }

    footer .footer_menu a span {
        font-size: 16px;
    }

    .footer .footer_link {
        flex-wrap: wrap;
    }
}

/* 아주 작은 화면 (480px 이하) */
@media screen and (max-width: 480px) {
    footer .footer_menu {
        justify-content: space-between;
        gap: 0;
    }

    footer .footer_menu a {
        gap: 8px;
    }

    footer .footer_menu a svg {
        width: var(--icon_s_w);
        height: var(--icon_s_h);
    }

    footer .footer_menu a span {
        text-align: center;
        font-size: 10px;
    }

    footer .footer_text span {
        display: block;
    }

    footer .footer_text address,
    footer .footer_text span,
    footer .copyright,
    .accordion_btn {
        font-size: 14px;
    }
}