body{
	background: #3B3B3B;
	color:#fff;
	font-size:16px;
	font: 16px/24px "Noto Sans KR", sans-serif;
}
.confirm_container{
	width: 1050px;
	height: 640px;
	background-color: #121212;
	margin:246px auto 194px;
}
.confirm_message{
	text-align: center;
	padding: 36px 0;
	font-size: 20px;
}
.reserv_data_container{
	position: relative;
	width: 950px;
	height: 335px;
	background-color: var(--white);
	color: var(--black);
	margin: 0 50px;
	padding: 40px 50px;
}
.reserv_data{
	display: flex;
	gap: 30px;
	color: #121212;
}
.poster_img{
	background-image: url(../images/movierank_poster_nausicaaofthevalleyofthewinds.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 125px;
	height: 171px;
}
.sub{
	display: inline-block;
	font-weight: 600;
	width: 60px;
	margin-right: 12px;
}
.line{
	width: 700px;
	height: 2px;
	border-color: none;
	margin: 12px 0;
	background-color: #121212;
}
.data{
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.line_light{
	width: 857px;
	height: 2px;
	border-color: none;
	margin: 12px 0 16px 0;
	background-color: #A2A2A2;
}
.total_price{
	display: flex;
	justify-content: flex-end;
}
.total_price span:nth-of-type(2){
	padding: 0 10px 20px;
} 

.mobile_ticket_btn{
	position: absolute;
	bottom: 40px;
	background-color: #FF243E;
	font-size: 20px;
	line-height: 24px;
	padding: 12px 30px;
	border-radius: 5px;
	border: none;
	color: var(--white);
	transition: 0.3s;
}
.mobile_ticket_btn:hover{
	background-color: #CB142A;
}


.move_btn{
	display: flex;
	justify-content: flex-end;
	gap: 8px;
	margin: 24px 50px 0  0;
}
.home_page{
	height: 48px;
	background-color: transparent;
	font-size: 20px;
	line-height: 48px;
	padding: 0 10px;
	align-items: center;
	border-radius: 5px;
	border: 1px solid var(--white);
	color: var(--white);
	transition: 0.3s;
}

.my_page{
	background-color: var(--primary_color);
	font-size: 20px;
	line-height: 48px;
	padding: 0 30px;
	border-radius: 5px;
	border: none;
	color: var(--white);
	transition: 0.3s;
}

.my_page:hover{
	background-color: var(--fill_hover_color);
}

.home_page:hover{
	background: rgba(255, 255, 255, 0.07);
  color: var(--white);
}